image: alpine:3.7

stages:
  - test
  - deploy

test:
  image: koalaman/shellcheck-alpine:stable
  stage: test
  script:
    - ./src/bash_script_test.sh

pages:
  stage: deploy
  before_script:
    - if [ "${CI_COMMIT_REF_NAME}" == "master" ]; then
        export TARGET_FOLDER=public/latest;
      else
        export TARGET_FOLDER=public/${CI_COMMIT_REF_NAME};
      fi
  script:
    - rm -rf "${TARGET_FOLDER}"
    - mkdir -p "${TARGET_FOLDER}"
    - cp -r src/* "${TARGET_FOLDER}"
  artifacts:
    paths:
      - public